.layers-viz {
  max-width: 800px;
  overflow-x: auto;
}

.layers-viz canvas {
  background-color: #000;
}

.coord-picker canvas {
  background-color: #333;
}

.neuron-response-plot {
  background-color: #000;
}

.bottom-vizs {
  display: flex;
  flex-direction: row;
}
