* {
  scrollbar-color: rgb(27, 27, 27);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
  background: #424242;
  outline: 1px solid #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  color: #edeeed;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}

.app h1 {
  text-align: center;
}

.app .content {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
