<html lang='en'>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no'
    />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />

    <meta name='theme-color' content='#121212' />
    <meta
      name='description'
      content='A neural network playground written from scratch in Rust + WebAssembly for building, training, visualizing, and experimenting with neural networks in the browser'
    />

    <meta property='og:title' content='Neural Network Playground' />
    <meta property='og:url' content='https://nn-viz.ameo.design/' />
    <meta
      property='og:description'
      content='A neural network tool written from scratch in Rust + WebAssembly for building, training, visualizing, and experimenting with neural networks in the browser'
    />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='https://nn.ameo.dev/nn-viz-og2.jpeg' />
    <meta property='og:image:width' content='1129' />
    <meta property='og:image:height' content='747' />
    <meta
      property='og:image:alt'
      content='A screenshot of the neural network web application itself which shows the full UI, network response visualization, and costs plot'
    />
    <meta property='og:twitter:card' content='summary' />
    <meta name='twitter:title' content='Neural Network from Scratch' />
    <meta
      name='twitter:description'
      content='A neural network tool written from scratch in Rust + WebAssembly for building, training, visualizing, and experimenting with neural networks in the browser'
    />

    <link href='https://fonts.googleapis.com/css?family=PT+Sans&display=swap' rel='stylesheet' />
    <script async defer data-domain='nn.ameo.dev' src='https://pause.ameo.dev/js/pause.js'></script>
  </head>

  <body>
    <div id='root'></div>
  </body>
</html>
