<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
